<style>
/* CSS styles go here */
h1 {
  text-align: center;
}
form {
  margin: 0 auto;
  width: 250px;
  text-align: center;
}
label {
  width: 100px;
  display: inline-block;
}
#netSalary {
  font-weight: bold;
}
#months {
  font-weight: bold;
}
body {
    background-color: lightblue;
}
</style>
